body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
}

.mono {
    font-family: 'JetBrains Mono', monospace;
}

.glass-panel {
    background: rgba(30, 41, 59, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.zone-table th {
    font-size: 0.65rem;
    text-transform: uppercase;
    color: #94a3b8;
    font-weight: 700;
    padding: 4px 8px;
    text-align: left;
}

.zone-table td {
    font-size: 0.70rem;
    color: #e2e8f0;
    padding: 4px 8px;
    font-family: 'JetBrains Mono', monospace;
}

.zone-table tr:last-child td {
    padding-bottom: 8px;
}

.zone-row-z1 {
    border-left: 3px solid #a3e635;
    background: rgba(163, 230, 53, 0.05);
}

.zone-row-z2 {
    border-left: 3px solid #22c55e;
    background: rgba(34, 197, 94, 0.05);
}

.zone-row-z3 {
    border-left: 3px solid #60a5fa;
    background: rgba(96, 165, 250, 0.05);
}

.zone-row-z4 {
    border-left: 3px solid #facc15;
    background: rgba(250, 204, 21, 0.05);
}

.zone-row-z5 {
    border-left: 3px solid #f87171;
    background: rgba(248, 113, 113, 0.05);
}


/* LOCK MODE */
.locked-area {
    opacity: 0.3;
    pointer-events: none;
    filter: grayscale(90%);
    user-select: none;
}

.locked-badge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #475569;
    background: #0f172a;
    color: #94a3b8;
    padding: 10px 20px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    z-index: 50;
    text-transform: uppercase;
}


#crashOverlay {
    display: none;
}
